/* Variables */
$back-color: rgba(102, 186, 133, 0.89);
$img-height: 30em;

/* Mixins */
@mixin cover-size($size){
  .cover{
    height: $size;
  }
}
@mixin cover($file, $placement: center){
  background:{
    repeat: no-repeat;
    position: $placement;
    image: url(#{images/$file}.jpg);
    size: 100%;
  }
  width: 100%;
  @include cover-size($img-height);
}

/* Page Setup */
body {
  background-color: $back-color;
}

/* Header */
.jumbotron {
   position: fixed;
   width: 100%;
   padding:{
     top: 10px;
     bottom: 20px;
   }
}

/* Page Cover Images */
#home-image {
   @include cover(lawn_mower, left)
}
#about-image{
   @include cover(rake)
}
#review-image{
  @include cover(people)
}
#contact-image {
  @include cover(phone)
}

/* Navigation */
nav ul li {
   list-style: none;
   display: inline-block;
   padding:{
     right: 3.4em;
     top: .5em;
   }
}
.row .col-sm-7 p{padding-top: 1em;}

/* Media Queries */
@media screen {
  @include cover-size(30em);
}
@media screen and (max-width: 95em) {
  @include cover-size(25em);
}