/* Page Setup */
body {
  background-color: rgba(102, 186, 133, 0.89)
}

/* Header */
.jumbotron {
   position: fixed;
   width: 100%;
   padding-top: 10px;
   padding-bottom: 20px;
}
.title-image {
   height: 30em;
   background-image: url("images/lawn_mower.jpg");
   background-repeat: no-repeat;
   background-position: left;
   background-size: cover;
}

/* Navigation */
nav ul li {
   list-style: none;
   display: inline-block;
   padding-right: 3.4em;
   padding-top: .5em;
}
.row .col-sm-7 p{padding-top: 1em;}
